@charset "UTF-8";
@use "../global" as *;

/*============================
m-btn
============================*/
.m-btn{
    max-width: 200px;
    width: 100%;
    height: 50px;
    text-align: center;
      @include mq(sp) {
        max-width: 100px;
      }
    &Anker{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $bg-btn-color;
        max-width: rclamp(100, 200, 375, 1920);
        width: 100%;
        height: rclamp(25, 50, 375, 1920);
        font-size: 16px;
        @include addfont_Inter(r);
        @include letter-spacing-calc(50);
        // padding-top: 19px;
        // padding-bottom: 19px;
          @include mq(sp) {
            max-width: 100px;
            height: 25px;
            font-size: 8px;
            padding-top: 9.5px;
            padding-bottom: 9.5px;
          }
    }
}
