@charset "UTF-8";
@use "../global" as *;

/*============================
m-card
============================*/
.m-card {
  $parent: &;
  width: 250px;
  &__link {
    display: block;
    &:hover {
      #{$parent} {
        &__tit {
          color: $text-change-color;
        }
      }
    }
  }
  &__img {
    z-index: 1;
    overflow: hidden;
    border: 1px solid $border-base-color;
    border-radius: 10px;
    @include thumbnail_aspect(220, 220, cover);
    img {
      transition: 0.3s;
    }
    &:hover {
      img {
        transition: 0.3s;
        transform: scale(1.1);
      }
    }
  }
  &__head {
    @include flexStyle(space-between, center);
    margin-top: 14px;
    @include mq(sp) {
      margin-top: setSingleVal(14, 375, vw);
    }
  }
  &__data {
    // color: $grey02;
    font-size: 14px;
    @include addfont_Roboto();
    @include letter-spacing-calc(0);
  }
  &__tit {
    margin-top: 5px;
    transition: 0.3s;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    @include line-height-calc(24, 16);
    &--white {
      color: $white-color;
    }
    &--hidden {
      @include addEllipsis;
    }
  }
  &__text {
    margin-top: 20px;
    text-align: left;
    p {
      font-size: 14px;
      @include line-height-calc(24, 14);
      @include letter-spacing-calc(120);
    }
  }
}
