@charset "UTF-8";
@use "../global" as *;

/*============================
m-scroll
============================*/
.m-scroll {
  @include scrollLineKeyframes(100, $white-color);
  @include mq() {
    @include scrollLineKeyframes(50, $white-color);
  }
  &__tit {
    font-size: 12px;
    color: $white-color;
    padding-bottom: 10px;
  }
  &__line {
    position: relative;
    &::before {
      content: "";
      width: 1px;
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%) translateZ(0);
    }
  }
}
